<div class="container px-4 py-5 mx-auto" *ngIf="checkoutControl==false ">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading">Alışveriş Sepetim</h4>
        </div>
        <div class="col-7">
            <div class="row text-right">
                <div class="col-4">
                    <h6 class="mt-2">Fiyat</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Miktar</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Toplam</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center border-top" *ngFor= "let item of products; let i = index">
        <div class="col-5">
            <div class="row d-flex">
                <div class="book"> <img src="{{item.imageUrl}}" style="width: 200px;" class="book-img"> </div>
                <div class="my-auto flex-column d-flex pad-left">
                    <h6 class="mob-text">{{item.name}}</h6>
                    <p class="mob-text">{{item.description}}</p>
                </div>
            </div>
        </div>
        <div class="my-auto col-7">
            <div class="row text-right">
                <div class="col-4">
                    <p class="mob-text">₺{{item.price}}</p>
                </div>
                <div class="col-4">
                    <div class="row d-flex justify-content-end px-3">
                        <p class="mb-0" id="cnt1">{{item.quantity}}</p>
                       
                    </div>
                </div>
                <div class="col-4">
                    <h6 class="mob-text">₺{{item.total}}</h6>
                </div>
            </div>
        </div>
    </div>

    <!--Cart Odeme Bolumu-->
    <div class="row justify-content-center">
        <div class="card2">
            <h6 class="text-uppercase">Billing Address</h6>
            <form [formGroup] ="AddAddressForm" class="form-group">
                <div class="row px-2">
                    <div class="form-group col-md-4"> <label class="form-control-label">Ülke</label> <input type="text" id="country" formControlName="country" name="country" placeholder="Türkiye"> </div>
                    <div class="form-group col-md-4"> <label class="form-control-label">Ad ve Soyadı</label> <input type="text" id="name" formControlName="name" name="name" placeholder="John F. Kennedy"> </div>
                    <div class="form-group col-md-4"> <label class="form-control-label">Şehir</label> <input type="text" id="city" formControlName="city" name="city" placeholder="İstanbul"> </div>
                </div>
                <div class="row px-2">
                    <div class="form-group col-md-3"> <label class="form-control-label">İlçe</label> <input type="text" id="district" formControlName="district" name="district" placeholder="Zeytinburnu"> </div>
                    <div class="form-group col-md-3"> <label class="form-control-label">Mahalle / Köy</label> <input type="text" id="neighborhood" formControlName="neighborhood" name="neighborhood" placeholder="Çırpıcı Mah."> </div>
                    <div class="form-group col-md-3"> <label class="form-control-label">Sokak</label> <input type="text" id="sokak" formControlName="sokak" name="sokak" placeholder="G-10 sokak"> </div>
                    <div class="form-group col-md-3"> <label class="form-control-label">Kat</label> <input type="number" id="kat" formControlName="kat" name="kat" placeholder="13"> </div>
                </div>
                <div class="row px-2">
                    <div class="form-group col-md-4"> <label class="form-control-label">Daire</label> <input type="number" id="daire" formControlName="daire" name="daire" placeholder="13"> </div>
                    <div class="form-group col-md-4"> <label class="form-control-label">Bina No</label> <input type="number" id="binano" formControlName="binano" name="binano" placeholder="11"> </div>
                    <div class="form-group col-md-4"> <label class="form-control-label">Posta Kodu</label> <input type="number" id="postacode" formControlName="postacode" name="postacode" placeholder="34000"> </div>
                </div>
                <div class="row px-2">
                    <div class="form-group col-md-6"> <label class="form-control-label">Telefon No</label> <input type="number" id="telno" name="telno" formControlName="telno" placeholder="555-555-55-**"> </div>
                    <div class="form-group col-md-6"> <label class="form-control-label">E-Mail</label> <input type="email" id="email" name="email" formControlName="email" placeholder="jfkennedy@gmail.com"> </div>  
                </div>
            </form>
         
        </div>
        
        <div class="col-lg-12">
            <div class="card2">
                <div class="row">
                    <div class="col-lg-3 radio-group">
                        <div class="row d-flex px-3 radio "> <img class="pay" src="https://i.imgur.com/WIAP9Ku.jpg">
                            <p class="my-auto">Credit Card</p>
                        </div>
                        <!-- <div class="row d-flex px-3 radio gray"> <img class="pay" src="https://i.imgur.com/OdxcctP.jpg">
                            <p class="my-auto">Debit Card</p>
                        </div>
                        <div class="row d-flex px-3 radio gray mb-3"> <img class="pay" src="https://i.imgur.com/cMk1MtK.jpg">
                            <p class="my-auto">PayPal</p>
                        </div> -->
                    </div>
                   
                        <div class="col-lg-5">
                            <form [formGroup] ="AddCheckoutForm" (ngSubmit) = "Checkout()" class="form-group">
                                <div class="row px-2">
                                    <div class="form-group col-md-6"> <label class="form-control-label">Name on Card</label> <input type="text" id="cardname" formControlName="cardname" name="cardname" placeholder="Johnny Doe"> </div>
                                    <div class="form-group col-md-6"> <label class="form-control-label">Card Number</label> <input type="number" id="cardnumber" formControlName="cardnumber" name="cardnumber" placeholder="1111 2222 3333 4444"> </div>
                                </div>
                                <div class="row px-2">
                                    <div class="form-group col-md-6"> <label class="form-control-label">Expiration Date</label> <input type="date" id="expirationdate" formControlName="expirationdate" name="expirationdate" placeholder="MM/YYYY"> </div>
                                    <div class="form-group col-md-6"> <label class="form-control-label">CVV</label> <input type="number" id="cvv" name="cvv" formControlName="cvv" placeholder="***"> </div>
                                </div>
                                <div class="row px-2">
                                    <button type="submit" style="margin: 30px auto; width: 85px;" class="btn-block btn-blue"> <span> <span id="checkout">Checkout</span>  </span> </button>
                                </div>
                                
                            </form>
                      
                        </div>         
                    
                    <div class="col-lg-4 mt-2">
                        <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Ürünler</p>
                            <h6 class="mb-1 text-right">₺{{productTotal}}</h6>
                        </div>
                        <div class="row d-flex justify-content-between px-4"  *ngIf="productTotal>0">
                            <p class="mb-1 text-left">Kargo ve Paketleme Ücreti</p>
                            <h6 class="mb-1 text-right">₺{{shippingPrice}}</h6>
                        </div>
                        <div class="row d-flex justify-content-between px-4" id="tax">
                            <p class="mb-1 text-left">Toplam</p>
                            <h6 class="mb-1 text-right">₺{{grandTotal}}</h6>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="checkoutControl">
    <!--For Page-->
<div class="bg">
    <!--For Row containing all card-->
    <div class="row mainRow" >
        <!--Card 1-->
        <div class="col-sm-8">
            <div class="card card-cascade wider shadow p-3 mb- ">
            
                <!--Product Description-->
                <div class="form-control-label" style="width: 100%;margin-left: -10px;">
                    <div class="row subRow" style="font-size: 20px;font-family:'Times New Roman', Times, serif;margin-left: -4px;">                                
                           
                                 <strong style="text-align: center;">Bizi Tercih ettiğiniz için teşekürler <b style="text-transform: uppercase;">{{address.name}}</b><br><br>
                                    Siparişiniz 7 iş günü içerisinde size teslim edilecektir.<br> </strong>
                                <h1 style="float: left; margin-left: 10px;"><br>Sipariş Adresi;</h1>
                                    <strong style="margin-left: 10px;">
                                           
                                    {{address.neighborhood}} mah. {{address.sokak}} sokak ,Bina No : {{address.binano}} ,Kat : {{address.kat}} ,Daire: {{address.daire}} <br>
                                    <span>{{address.district}} / {{address.city}}</span></strong>
                              
                       
                    </div> 
                </div>
            </div>
        </div>
        <!--Card 2-->
        <div class="col-sm-4">
            <div class="card card-cascade card-ecommerce wider shadow p-3 mb-5 ">
                <!--Card Body-->
                <div class="card-body card-body-cascade" >
                    <!--Card Description-->
                    <div class="card2decs">
                        <p class="heading1"><strong>Sepet Bilgisi</strong></p>
                        <p class="quantity">Ürün Fiyatı <span class="float-right text1"> ₺{{productTotal}}</span></p>
                        <p class="subtotal">Kargo Fiyatı<span class="float-right text1"> ₺{{shippingPrice}}</span></p>
                        <p class="total"><strong>Toplam</strong><span class="float-right totalText1"><span class="totalText2"> ₺{{grandTotal}}</span></span></p>
                    </div>
                    <div class="payment">
                        <p class="heading2"><strong>Sipariş Detayları</strong></p>
                        <p class="cardAndExpire">Sipariş No</p>
                        <p class="cardAndExpireValue">154649879832<span class="float-right">26/11</span></p>
                        <p class="nameAndcvc" style="margin-bottom:-10px;">Kargo Takip No</p>
                        <p class="nameAndcvcValue"><span class="float-right">15687496351</span></p>
                    </div>
                    <!--Card footer--> <a href="" class="purchaseLink">
                        <div class="card-footer text-center" (click)="alisverisiTamamla()"> Alışverişi Tamamla Ve Devam Et &#8594; </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>