<ul class="nav flex-column">
  <li class="nav-item">
    <a
      class="nav-link active"
      aria-current="page"
      routerLink="/products/"
      style="
        text-align: center;
        font-size: 2rem;
        font-style: italic;
        font-family: Serif;
      "
    >
      Kategoriler
    </a>
    <hr style="margin-top: -5px" />
  </li>

  <li class="nav-item">
    <a class="nav-link manualCategoryStyle" routerLink="/products"> Tum Urunler </a>
  </li>
  <li
    class="nav-item"
    *ngFor="let category of categories"
    routerLink="/products/category/{{ category.id }}"
    href="#"
  >
    <a class="nav-link manualCategoryStyle" routerLink="/product-add-1/">
      {{ category.name }}
    </a>
  </li>
</ul>
