<ul class="nav flex-column">
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLink="/products/"
      style="
      color:rgb(39, 34, 34);
        text-align: center;
        font-size: 36px;
        font-style: italic;
        font-family: Serif;
      "
    >
      Kategoriler
    </a>
    <hr style="margin-top: -5px" />
  </li>

  <li class="nav-item">
    <a class="nav-link manualCategoryStyle" routerLink="/products/"> Tum Urunler </a>
  </li>
  <li
    class="nav-item"
    *ngFor="let category of categories"
   
  >
    <a class="nav-link manualCategoryStyle"  routerLink="/products/category/{{ category.id }}">
      {{ category.name }}
    </a>
  </li>

</ul>
