.manualCategoryStyle{
    cursor:pointer;
    font-style: italic;
    font-family: Serif;
    color: #484848;
    text-transform: uppercase;
    text-decoration: none;
    margin:4px auto;
    font-size: 15px;
    border-radius: 10%;
    border-top: 1px solid rgb(39, 34, 34);
    border-bottom: 1px solid rgb(39, 34, 34);
    transition: 0.3s ease-in-out;
}
.manualCategoryStyle:hover{
    color: black;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    border-radius: 15%;
}