<ng-container *ngIf= "products.length != 0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr *ngFor= "let item of products; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td><img style="width: 120px;" src="{{item.imageUrl}}"></td>
                        <td style="width: 25%;">{{item.description}}</td>
                        <td style="width: 12%;">{{item.price}}</td>
                        <td style="width: 12%;">{{item.quantity}}</td>
                        <td style="width: 12%;">{{item.total}}</td>
                        <td>
                            <button (click)= "removeItem(item)" class="btn btn-danger" ><i class='fa fa-trash-o' style='font-size:18px'></i></button>
                        </td>
                       </tr>
                       <tr>
                           <td colspan="4"></td>
                           <td><button class="btn btn-danger" (click)= "emptyCart()">Empty Cart</button></td>
                           <td><button class="btn btn-primary" routerLink="/products">Shop More</button></td>
                           <td><button class="btn btn-success">Checkout</button></td>
                           <td><strong>Grand Total : ₺{{grandTotal}}</strong></td>
                       </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</ng-container>
<ng-container *ngIf= "products.length == 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">
                Sepetim
            </h5>
        </div>
        <div class="center">
            <img src="../../assets/galeri/pngegg.png" alt="sepet">
            <h4>Sepetiniz Bos</h4>
            <h6>Hemen Alısverise Baslayin</h6>
            <button class="btn btn-primary" routerLink="/products">Shop</button>
        </div>
    </div>
</ng-container>