<!-- <h3 *ngIf="products; else noProduct" style="margin-top: 1em">{{ title }}</h3> -->
<div class="container-fluid">
  <div class="row">
   
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3">
          <app-category></app-category>
      </div>
    </nav> 
  
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-top: 20px;">
      <div class="form-group" style="margin-top: 10px;">
        <input
          class="form-control"
          id="productName"
          placeholder="Urun Ara"
          [(ngModel)]="filterText"
        />
        <small *ngIf="filterText" class="form-text text-muted"
          >Şuan <strong>{{ filterText }}</strong> kelimesini aradınız</small
        >
      </div>
      
        
      <div class="row">
        <ng-template #noProduct>
          <div class="alert alert-info" role="alert">Sepeteniz Boş</div>
        </ng-template>
      
        <div
          *ngFor="let product of products | productFilter: filterText"
          class="card productbox"
          style="width: 18rem;"
        >
          <img
            [src]="product.imageUrl"
            height="288px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ product.name }}
             
            </h5>
            <h6> {{ product.price | currency: "₺ ":"symbol":"1.2-2" }}</h6>
            <p class="card-text" style="height: 90px;overflow: auto;">
              {{ product.description }}
            </p>
      
            <a (click)= "addToCard(product)" class="btn btn-primary">Sepete Ekle</a>
          </div>
        </div>
      </div>
    
    
    </main>
  </div>
</div>
 